<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://chat7web.github.io/playtoy/thecontest.ipa </string>
		<key>displayImageURL</key>
		<string>https://m.zeospace.com/ios/Test/57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://m.zeospace.com/ios/Test/512.png</string>
	</dict>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>kr.co.cntt.TheContest</key>
		<string>dev_thecontest_pro</string>
		<key>kr.co.cntt.TheContest.NotificationService</key>
		<string>dev_thecontest_service_pro</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Developer</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>6V3PUQQ9T7</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
